# Team : RRR
## Team Members
##  Name_1: Sushanth Puligilla
##  Name_2: Bhanoday sakamuri
##  Name_3: Manikumar Vajji



## Q1.

In [168]:
import pandas as pd

test_pred = pd.read_csv('test2_new.txt', sep = '|', header=None)
test_pred.columns = ['UserID', 'ItemID', 'Predictor']
test_pred.head()

   UserID  ItemID  Predictor
0  200031   30877          1
1  200031    8244          1
2  200031  130183          0
3  200031  198762          0
4  200031   34503          1

In [169]:
output = pd.read_csv('output120K.txt', sep='|', header=None)
output.columns=['UserId','TrackId','albumId','artistId','genre1','genre2','genre3','genre4']
output.head()

   UserId  TrackId  albumId  artistId  genre1  genre2  genre3  genre4
0  199810   208019      0.0       0.0     0.0     0.0     0.0     0.0
1  199810    74139      0.0       0.0     0.0    80.0     0.0     0.0
2  199810     9903      0.0       0.0     0.0     0.0     0.0     0.0
3  199810   242681      0.0       0.0     0.0     0.0     0.0     0.0
4  199810    18515      0.0      70.0     0.0     0.0     0.0     0.0

The dataframe contains 120,000 values, and it includes three distinct ratings obtained from the raw data. To extract the corresponding ratings for the values in the test_pred dataframe, we will perform the necessary operations.

In [170]:
test_pred['albumId'] = 0.0
test_pred['artistId'] = 0.0
test_pred['genre1'] = 0.0
test_pred['genre2'] = 0.0
test_pred['genre3'] = 0.0
test_pred['genre4'] = 0.0
test_pred = test_pred[['UserID','ItemID','albumId','artistId','genre1','genre2','genre3','genre4', 'Predictor']]
test_pred.head()

,UserID,ItemID,albumId,artistId,genre1,genre2,genre3,genre4,Predictor
0,200031,30877,0.0,0.0,0.0,0.0,0.0,0.0,1
1,200031,8244,0.0,0.0,0.0,0.0,0.0,0.0,1
2,200031,130183,0.0,0.0,0.0,0.0,0.0,0.0,0
3,200031,198762,0.0,0.0,0.0,0.0,0.0,0.0,0
4,200031,34503,0.0,0.0,0.0,0.0,0.0,0.0,1

In [171]:
for i in range(len(test_pred)):
    user = test_pred['UserID'][i]
    item = test_pred['ItemID'][i]
    test_pred['albumId'][i] = output[output['UserId']==user][output['TrackId']==item]['albumId']
    test_pred['artistId'][i] = output[output['UserId']==user][output['TrackId']==item]['artistId']
    test_pred['genre1'][i] = output[output['UserId']==user][output['TrackId']==item]['genre1']
    test_pred['genre2'][i] = output[output['UserId']==user][output['TrackId']==item]['genre2']
    test_pred['genre3'][i] = output[output['UserId']==user][output['TrackId']==item]['genre3']

C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_pred['albumId'][i] = output[output['UserId']==user][output['TrackId']==item]['albumId']
C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_pred['artistId'][i] = output[output['UserId']==user][output['TrackId']==item]['artistId']
C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_pred['genre1'][i] = output[output['UserId']==user][output['TrackId']==item]['genre1']
C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_pred['genre2'][i] = output[output['UserId']==user][output['TrackId']==item]['genre2']
C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_pred['genre3'][i] = output[output['UserId']==user][output['TrackId']==item]['genre3']
C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_pred['albumId'][i] = output[output['UserId']==user][output['TrackId']==item]['albumId']
C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_pred['artistId'][i] = output[output['UserId']==user][output['TrackId']==item]['artistId']
C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_pred['genre1'][i] = output[output['UserId']==user][output['TrackId']==item]['genre1']
C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_pred['genre2'][i] = output[output['UserId']==user][output['TrackId']==item]['genre2']
C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1667257244.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_pred['genre3'][i] = output[output['UserId']==user][output['TrackId']==item]['genre3']

In [172]:
test_pred['mean']=(test_pred['genre1']+test_pred['genre2']+test_pred['genre3']+test_pred['genre4'])/4
# calculate the variance for each genre column
genre_cols = ['genre1', 'genre2', 'genre3', 'genre4']
genre_variances = test_pred[genre_cols].var()

# create a new column in the dataframe for each genre variance
for col, var in zip(genre_cols, genre_variances):
    test_pred[col + '_variance'] = var

    # Calculate maximum and minimum values for each row
max_vals = test_pred[genre_cols].max(axis=1)
min_vals = test_pred[genre_cols].min(axis=1)

# Add the maximum and minimum values as new columns in the dataframe
test_pred['max_genre'] = max_vals
test_pred['min_genre'] = min_vals

In [173]:
test_pred.drop(columns={'genre1','genre2','genre3','genre4'},inplace=True)

In [174]:
test_pred.head(6)

,UserID,ItemID,albumId,artistId,Predictor,mean,genre1_variance,genre2_variance,genre3_variance,genre4_variance,max_genre,min_genre
0,200031,30877,90.0,50.0,1,42.5,1545.619729,767.872072,352.421097,0.0,90.0,0.0
1,200031,8244,90.0,0.0,1,42.5,1545.619729,767.872072,352.421097,0.0,90.0,0.0
2,200031,130183,0.0,0.0,0,0.0,1545.619729,767.872072,352.421097,0.0,0.0,0.0
3,200031,198762,0.0,0.0,0,22.5,1545.619729,767.872072,352.421097,0.0,90.0,0.0
4,200031,34503,90.0,50.0,1,42.5,1545.619729,767.872072,352.421097,0.0,90.0,0.0
5,200031,227283,0.0,90.0,0,35.0,1545.619729,767.872072,352.421097,0.0,90.0,0.0

In [175]:
output[output['UserId']==200031]

output['mean']=(output['genre1']+output['genre2']+output['genre3']+output['genre4'])/4
output.drop(columns={'genre1','genre2','genre3','genre4'},inplace=True)
output.head()

   UserId  TrackId  albumId  artistId  mean
0  199810   208019      0.0       0.0   0.0
1  199810    74139      0.0       0.0  20.0
2  199810     9903      0.0       0.0   0.0
3  199810   242681      0.0       0.0   0.0
4  199810    18515      0.0      70.0   0.0

In [176]:
test_pred.to_csv('test_predictions.csv', index=False)

In [177]:
output.to_csv('genre_rating.csv', index=False)

## 3. Performing data classification utilizing PySpark.

In [178]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('recommender').getOrCreate()

In [179]:
dataframe = spark.read.csv('test_predictions.csv', header=True, inferSchema=True)
dataframe.printSchema()

root
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- albumId: double (nullable = true)
 |-- artistId: double (nullable = true)
 |-- Predictor: integer (nullable = true)
 |-- mean: double (nullable = true)
 |-- genre1_variance: double (nullable = true)
 |-- genre2_variance: double (nullable = true)
 |-- genre3_variance: double (nullable = true)
 |-- genre4_variance: double (nullable = true)
 |-- max_genre: double (nullable = true)
 |-- min_genre: double (nullable = true)

In [180]:
dataframe.show(10)

+------+------+-------+--------+---------+----+------------------+-----------------+------------------+---------------+---------+---------+
|UserID|ItemID|albumId|artistId|Predictor|mean|   genre1_variance|  genre2_variance|   genre3_variance|genre4_variance|max_genre|min_genre|
+------+------+-------+--------+---------+----+------------------+-----------------+------------------+---------------+---------+---------+
|200031| 30877|   90.0|    50.0|        1|42.5|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|     90.0|      0.0|
|200031|  8244|   90.0|     0.0|        1|42.5|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|     90.0|      0.0|
|200031|130183|    0.0|     0.0|        0| 0.0|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|      0.0|      0.0|
|200031|198762|    0.0|     0.0|        0|22.5|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|     90.0|      0.0|
|200031| 34503|   90.0|    50.0|        1|42.5|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|     90.0|      0.0|
|200031|227283|    0.0|    90.0|        0|35.0|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|     90.0|      0.0|
|200032|218377|    0.0|     0.0|        0| 0.0|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|      0.0|      0.0|
|200032|110262|    0.0|     0.0|        0| 0.0|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|      0.0|      0.0|
|200032| 18681|   90.0|    90.0|        1| 0.0|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|      0.0|      0.0|
|200032|138493|   90.0|    90.0|        1| 0.0|1545.6197285936546|767.8720724287383|352.42109673834545|            0.0|      0.0|      0.0|
+------+------+-------+--------+---------+----+------------------+-----------------+------------------+---------------+---------+---------+
only showing top 10 rows

In [181]:
columns = dataframe.columns

In [182]:
from pyspark.ml.feature import VectorAssembler

assemblerInput = ['albumId','artistId','mean']
assembler = VectorAssembler(inputCols = assemblerInput, outputCol='features')

In [183]:
assembler

VectorAssembler_b0446bf1aa7c

In [184]:
stages=[]
stages += [assembler]

In [185]:
stages

[VectorAssembler_b0446bf1aa7c]

In [186]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=stages)
pipelineModel = pipeline.fit(dataframe)
dataframe = pipelineModel.transform(dataframe)
selectedCols = ['features'] + columns
dataframe = dataframe.select(selectedCols)
dataframe.printSchema()

root
 |-- features: vector (nullable = true)
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- albumId: double (nullable = true)
 |-- artistId: double (nullable = true)
 |-- Predictor: integer (nullable = true)
 |-- mean: double (nullable = true)
 |-- genre1_variance: double (nullable = true)
 |-- genre2_variance: double (nullable = true)
 |-- genre3_variance: double (nullable = true)
 |-- genre4_variance: double (nullable = true)
 |-- max_genre: double (nullable = true)
 |-- min_genre: double (nullable = true)

In [187]:
train, test = dataframe.randomSplit([0.7, 0.3], seed=2018)
print('Training Dataset Count: '+str(train.count()))
print('Test Dataset Count: '+str(test.count()))

Training Dataset Count: 4260
Test Dataset Count: 1740

# a) Using Logistic Regression:

In [188]:
from pyspark.ml.classification import LogisticRegression

logreg = LogisticRegression(featuresCol = 'features', labelCol = 'Predictor', maxIter=10)
logregModel = logreg.fit(dataframe)

In [189]:
trainingSummary = logregModel.summary
print("Training Set Area Under ROC: "+str(trainingSummary.areaUnderROC))

Training Set Area Under ROC: 0.8928173888888888

In [190]:
main_df = spark.read.csv('genre_rating.csv', header=True, inferSchema=True)
main_df.printSchema()

root
 |-- UserId: integer (nullable = true)
 |-- TrackId: integer (nullable = true)
 |-- albumId: double (nullable = true)
 |-- artistId: double (nullable = true)
 |-- mean: double (nullable = true)

In [191]:
main_cols = main_df.columns
main_df = pipelineModel.transform(main_df)
selCols = ['features'] + main_cols
main_df = main_df.select(selCols)
main_df.printSchema()

root
 |-- features: vector (nullable = true)
 |-- UserId: integer (nullable = true)
 |-- TrackId: integer (nullable = true)
 |-- albumId: double (nullable = true)
 |-- artistId: double (nullable = true)
 |-- mean: double (nullable = true)

In [192]:
predictions_120 = logregModel.transform(main_df)

In [193]:
predictions_120.show(10)

+------------------+------+-------+-------+--------+----+--------------------+--------------------+----------+
|          features|UserId|TrackId|albumId|artistId|mean|       rawPrediction|         probability|prediction|
+------------------+------+-------+-------+--------+----+--------------------+--------------------+----------+
|         (3,[],[])|199810| 208019|    0.0|     0.0| 0.0|[1.57149124542077...|[0.82799609318762...|       0.0|
|    [0.0,0.0,20.0]|199810|  74139|    0.0|     0.0|20.0|[1.23417860065007...|[0.77454909021038...|       0.0|
|         (3,[],[])|199810|   9903|    0.0|     0.0| 0.0|[1.57149124542077...|[0.82799609318762...|       0.0|
|         (3,[],[])|199810| 242681|    0.0|     0.0| 0.0|[1.57149124542077...|[0.82799609318762...|       0.0|
|    [0.0,70.0,0.0]|199810|  18515|    0.0|    70.0| 0.0|[-0.6045989337662...|[0.35329223639194...|       1.0|
|   [0.0,90.0,40.0]|199810| 105760|    0.0|    90.0|40.0|[-1.9009642745038...|[0.12999937644581...|       1.0|
|         (3,[],[])|199812| 276940|    0.0|     0.0| 0.0|[1.57149124542077...|[0.82799609318762...|       0.0|
|[100.0,100.0,40.0]|199812| 142408|  100.0|   100.0|40.0|[-7.1430177270585...|[7.89739212091160...|       1.0|
|[100.0,100.0,40.0]|199812| 130023|  100.0|   100.0|40.0|[-7.1430177270585...|[7.89739212091160...|       1.0|
|    [0.0,0.0,20.0]|199812|  29189|    0.0|     0.0|20.0|[1.23417860065007...|[0.77454909021038...|       0.0|
+------------------+------+-------+-------+--------+----+--------------------+--------------------+----------+
only showing top 10 rows

In [194]:
logreg_answer = predictions_120.select('UserId','TrackId','prediction')

In [195]:
logreg_answer = logreg_answer.toPandas()

In [196]:

logreg_answer.head()

   UserId  TrackId  prediction
0  199810   208019         0.0
1  199810    74139         0.0
2  199810     9903         0.0
3  199810   242681         0.0
4  199810    18515         1.0

In [197]:
for i in range(len(logreg_answer)):
    logreg_answer['TrackId'][i] = str(logreg_answer['UserId'][i])+'_'+str(logreg_answer['TrackId'][i])

C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\1655893323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  logreg_answer['TrackId'][i] = str(logreg_answer['UserId'][i])+'_'+str(logreg_answer['TrackId'][i])

In [198]:
logreg_answer = logreg_answer[['TrackId', 'UserId', 'prediction']]
logreg_answer = logreg_answer.rename(columns={'prediction': 'Predictor'})
logreg_answer.head()

         TrackId  UserId  Predictor
0  199810_208019  199810        0.0
1   199810_74139  199810        0.0
2    199810_9903  199810        0.0
3  199810_242681  199810        0.0
4   199810_18515  199810        1.0

In [199]:
logreg_answer.drop(columns={'UserId'}, inplace=True)

In [200]:
logreg_answer.head()

         TrackId  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [201]:
logreg_answer.to_csv('logreg_answer.csv', index=False)

Uploading the data from this logistic regression gives 85.356% on the leaderboard.

# b) Using Decision Tree

In [202]:
from pyspark.ml.classification import DecisionTreeClassifier

dectree = DecisionTreeClassifier(featuresCol = 'features', labelCol = 'Predictor', maxDepth=3)
dectreeModel = dectree.fit(dataframe)
preds_120_dectree = dectreeModel.transform(main_df)

In [203]:
preds_120_dectree.columns

['features',
 'UserId',
 'TrackId',
 'albumId',
 'artistId',
 'mean',
 'rawPrediction',
 'probability',
 'prediction']

In [204]:
preds_120_dectree.show(10)

+------------------+------+-------+-------+--------+----+--------------+--------------------+----------+
|          features|UserId|TrackId|albumId|artistId|mean| rawPrediction|         probability|prediction|
+------------------+------+-------+-------+--------+----+--------------+--------------------+----------+
|         (3,[],[])|199810| 208019|    0.0|     0.0| 0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|    [0.0,0.0,20.0]|199810|  74139|    0.0|     0.0|20.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|         (3,[],[])|199810|   9903|    0.0|     0.0| 0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|         (3,[],[])|199810| 242681|    0.0|     0.0| 0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|    [0.0,70.0,0.0]|199810|  18515|    0.0|    70.0| 0.0|[224.0,2252.0]|[0.09046849757673...|       1.0|
|   [0.0,90.0,40.0]|199810| 105760|    0.0|    90.0|40.0|[224.0,2252.0]|[0.09046849757673...|       1.0|
|         (3,[],[])|199812| 276940|    0.0|     0.0| 0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|[100.0,100.0,40.0]|199812| 142408|  100.0|   100.0|40.0|[224.0,2252.0]|[0.09046849757673...|       1.0|
|[100.0,100.0,40.0]|199812| 130023|  100.0|   100.0|40.0|[224.0,2252.0]|[0.09046849757673...|       1.0|
|    [0.0,0.0,20.0]|199812|  29189|    0.0|     0.0|20.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
+------------------+------+-------+-------+--------+----+--------------+--------------------+----------+
only showing top 10 rows

In [205]:
dectree_answer = preds_120_dectree.select('UserId', 'TrackId', 'prediction')
dectree_answer = dectree_answer.toPandas()

In [206]:

dectree_answer.head()

   UserId  TrackId  prediction
0  199810   208019         0.0
1  199810    74139         0.0
2  199810     9903         0.0
3  199810   242681         0.0
4  199810    18515         1.0

In [207]:
for i in range(len(dectree_answer)):
    dectree_answer['TrackId'][i] = str(dectree_answer['UserId'][i])+'_'+str(dectree_answer['TrackId'][i])

C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\3086903909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dectree_answer['TrackId'][i] = str(dectree_answer['UserId'][i])+'_'+str(dectree_answer['TrackId'][i])

In [208]:
dectree_answer = dectree_answer[['TrackId', 'UserId', 'prediction']]
dectree_answer = dectree_answer.rename(columns={'prediction': 'Predictor'})
dectree_answer.head()

         TrackId  UserId  Predictor
0  199810_208019  199810        0.0
1   199810_74139  199810        0.0
2    199810_9903  199810        0.0
3  199810_242681  199810        0.0
4   199810_18515  199810        1.0

In [209]:
dectree_answer.drop(columns={'UserId'}, inplace=True)
dectree_answer.head()

         TrackId  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [210]:
dectree_answer.to_csv('decisionTree_sol1.csv', index=False)

Uploading the data from this decision tree gives 85.533% on the leaderboard.

# c) Using Random Forest

In [211]:
from pyspark.ml.classification import RandomForestClassifier

randomfor = RandomForestClassifier(featuresCol= 'features', labelCol='Predictor')
randomforModel = randomfor.fit(dataframe)

In [212]:
preds_120_randomfor = randomforModel.transform(main_df)
preds_120_randomfor.columns

['features',
 'UserId',
 'TrackId',
 'albumId',
 'artistId',
 'mean',
 'rawPrediction',
 'probability',
 'prediction']

In [213]:
preds_120_randomfor.show(10)

+------------------+------+-------+-------+--------+----+--------------------+--------------------+----------+
|          features|UserId|TrackId|albumId|artistId|mean|       rawPrediction|         probability|prediction|
+------------------+------+-------+-------+--------+----+--------------------+--------------------+----------+
|         (3,[],[])|199810| 208019|    0.0|     0.0| 0.0|[16.8081911946845...|[0.84040955973422...|       0.0|
|    [0.0,0.0,20.0]|199810|  74139|    0.0|     0.0|20.0|[14.7420723558116...|[0.73710361779058...|       0.0|
|         (3,[],[])|199810|   9903|    0.0|     0.0| 0.0|[16.8081911946845...|[0.84040955973422...|       0.0|
|         (3,[],[])|199810| 242681|    0.0|     0.0| 0.0|[16.8081911946845...|[0.84040955973422...|       0.0|
|    [0.0,70.0,0.0]|199810|  18515|    0.0|    70.0| 0.0|[4.53371834815747...|[0.22668591740787...|       1.0|
|   [0.0,90.0,40.0]|199810| 105760|    0.0|    90.0|40.0|[3.38100420370437...|[0.16905021018521...|       1.0|
|         (3,[],[])|199812| 276940|    0.0|     0.0| 0.0|[16.8081911946845...|[0.84040955973422...|       0.0|
|[100.0,100.0,40.0]|199812| 142408|  100.0|   100.0|40.0|[0.49716618959267...|[0.02485830947963...|       1.0|
|[100.0,100.0,40.0]|199812| 130023|  100.0|   100.0|40.0|[0.49716618959267...|[0.02485830947963...|       1.0|
|    [0.0,0.0,20.0]|199812|  29189|    0.0|     0.0|20.0|[14.7420723558116...|[0.73710361779058...|       0.0|
+------------------+------+-------+-------+--------+----+--------------------+--------------------+----------+
only showing top 10 rows

In [214]:
randomfor_answer = preds_120_randomfor.select('UserId', 'TrackId', 'prediction')
randomfor_answer = randomfor_answer.toPandas()

In [215]:

randomfor_answer.head()

   UserId  TrackId  prediction
0  199810   208019         0.0
1  199810    74139         0.0
2  199810     9903         0.0
3  199810   242681         0.0
4  199810    18515         1.0

In [216]:
for i in range(len(randomfor_answer)):
    randomfor_answer['TrackId'][i] = str(randomfor_answer['UserId'][i])+'_'+str(randomfor_answer['TrackId'][i])

C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\2544601121.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  randomfor_answer['TrackId'][i] = str(randomfor_answer['UserId'][i])+'_'+str(randomfor_answer['TrackId'][i])

In [217]:
randomfor_answer = randomfor_answer[['TrackId', 'UserId', 'prediction']]
randomfor_answer = randomfor_answer.rename(columns={'prediction': 'Predictor'})
randomfor_answer.head()

         TrackId  UserId  Predictor
0  199810_208019  199810        0.0
1   199810_74139  199810        0.0
2    199810_9903  199810        0.0
3  199810_242681  199810        0.0
4   199810_18515  199810        1.0

In [218]:
randomfor_answer.drop(columns={'UserId'}, inplace=True)
randomfor_answer.head()

         TrackId  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [219]:
randomfor_answer.to_csv('randomForest_sol1.csv', index=False)

Uploading the data from this random forest gives 85.555% on the leaderboard.

# d) Using Gradient-Boosted Tree Classifier

In [220]:
from pyspark.ml.classification import GBTClassifier

gradboosttr = GBTClassifier(featuresCol = 'features', labelCol = 'Predictor', maxIter=10)
gradboosttrModel = gradboosttr.fit(dataframe)
preds_120_gradboosttr = gradboosttrModel.transform(main_df)

In [221]:
preds_120_gradboosttr.columns

['features',
 'UserId',
 'TrackId',
 'albumId',
 'artistId',
 'mean',
 'rawPrediction',
 'probability',
 'prediction']

In [222]:
preds_120_gradboosttr.show(10)

+------------------+------+-------+-------+--------+----+--------------------+--------------------+----------+
|          features|UserId|TrackId|albumId|artistId|mean|       rawPrediction|         probability|prediction|
+------------------+------+-------+-------+--------+----+--------------------+--------------------+----------+
|         (3,[],[])|199810| 208019|    0.0|     0.0| 0.0|[0.79915491429944...|[0.83178202778998...|       0.0|
|    [0.0,0.0,20.0]|199810|  74139|    0.0|     0.0|20.0|[0.47507130654656...|[0.72114385776349...|       0.0|
|         (3,[],[])|199810|   9903|    0.0|     0.0| 0.0|[0.79915491429944...|[0.83178202778998...|       0.0|
|         (3,[],[])|199810| 242681|    0.0|     0.0| 0.0|[0.79915491429944...|[0.83178202778998...|       0.0|
|    [0.0,70.0,0.0]|199810|  18515|    0.0|    70.0| 0.0|[-0.4089993232609...|[0.30618865675571...|       1.0|
|   [0.0,90.0,40.0]|199810| 105760|    0.0|    90.0|40.0|[-0.6174299745186...|[0.22533195308553...|       1.0|
|         (3,[],[])|199812| 276940|    0.0|     0.0| 0.0|[0.79915491429944...|[0.83178202778998...|       0.0|
|[100.0,100.0,40.0]|199812| 142408|  100.0|   100.0|40.0|[-1.3190926843999...|[0.06672094251095...|       1.0|
|[100.0,100.0,40.0]|199812| 130023|  100.0|   100.0|40.0|[-1.3190926843999...|[0.06672094251095...|       1.0|
|    [0.0,0.0,20.0]|199812|  29189|    0.0|     0.0|20.0|[0.47507130654656...|[0.72114385776349...|       0.0|
+------------------+------+-------+-------+--------+----+--------------------+--------------------+----------+
only showing top 10 rows

In [223]:
gradboosttr_answer = preds_120_gradboosttr.select('UserId', 'TrackId', 'prediction')
gradboosttr_answer = gradboosttr_answer.toPandas()

In [224]:

gradboosttr_answer.head()

   UserId  TrackId  prediction
0  199810   208019         0.0
1  199810    74139         0.0
2  199810     9903         0.0
3  199810   242681         0.0
4  199810    18515         1.0

In [225]:
for i in range(len(gradboosttr_answer)):
    gradboosttr_answer['TrackId'][i] = str(gradboosttr_answer['UserId'][i])+'_'+str(gradboosttr_answer['TrackId'][i])

C:\Users\Admin\AppData\Local\Temp\ipykernel_14540\2358948251.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gradboosttr_answer['TrackId'][i] = str(gradboosttr_answer['UserId'][i])+'_'+str(gradboosttr_answer['TrackId'][i])

In [226]:
gradboosttr_answer = gradboosttr_answer[['TrackId', 'UserId', 'prediction']]
gradboosttr_answer = gradboosttr_answer.rename(columns={'prediction': 'Predictor'})
gradboosttr_answer.head()

         TrackId  UserId  Predictor
0  199810_208019  199810        0.0
1   199810_74139  199810        0.0
2    199810_9903  199810        0.0
3  199810_242681  199810        0.0
4   199810_18515  199810        1.0

In [227]:
gradboosttr_answer.drop(columns={'UserId'}, inplace=True)
gradboosttr_answer.head()

         TrackId  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [228]:
gradboosttr_answer.to_csv('gradient_Booster_sol1.csv', index=False)

Uploading the data from this GBT gives 85.411% on the leaderboard.